@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0; padding: 0;
}

html {
    height: 100%;
}

h1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: #e60012;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    height: 100%;

    font-family: 'VT323', monospace;
    color: #e9e9e9;
}

#play-button {
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.title {
    margin-bottom: 40px;
    font-size: 35px;
    text-align: center;
    font-family: 'VT323', monospace;
    border: 5px solid #f8f8f5;
    border-radius: 80px;
}

#tempo {
    font-size: 60px;
    font-family: 'VT323', monospace;
}

.bpm {
    font-size: 24px;
    text-align: center;
    font-family: 'VT323', monospace;
}

.tempo-controls {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.tempo-container {
    margin: 0 15px;
}

button {
    padding: 6px;
    border: 3px solid #FBD000;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #43B047;
    color: #e9e9e9;
    cursor: pointer;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

button:focus {
    outline: none;
}

.created-by {
    margin-top: 40px;
n}

a {
    color: #e9e9e9;
}

a:hover {
    color: #356161;
}

.play {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #e9e9e9;
    margin-left: 15px;
}

.pause {
    width: 15px;
    height: 60px;
    border: none;
    border-left: 15px solid #e9e9e9;
    border-right: 15px solid #e9e9e9;
}

.mario {
    height: 150px;
    width: 150px;
}